Repository crystal-ameba/ameba, pull requests merged in 2022-12, with the labels that each got.

#314 Add `Style/QueryBoolMethods` rule
  spec/ameba/rule/style/query_bool_methods_spec.cr
  src/ameba/ast/util.cr
  src/ameba/ast/variabling/variable.cr
  src/ameba/rule/style/is_a_nil.cr
  src/ameba/rule/style/query_bool_methods.cr
Labels: rule

#317 Further refinements
  README.md
  spec/ameba/formatter/util_spec.cr
  spec/ameba/rule/lint/literals_comparison_spec.cr
  spec/ameba/rule/lint/not_nil_spec.cr
  spec/ameba/rule/metrics/cyclomatic_complexity_spec.cr
  spec/ameba/rule/style/is_a_nil_spec.cr
  src/ameba/ast/branch.cr
  src/ameba/ast/branchable.cr
  src/ameba/ast/scope.cr
  src/ameba/ast/util.cr
  src/ameba/ast/variabling/argument.cr
  src/ameba/ast/variabling/assignment.cr
  src/ameba/ast/variabling/variable.cr
  src/ameba/ast/visitors/base_visitor.cr
  src/ameba/config.cr
  src/ameba/inline_comments.cr
  src/ameba/reportable.cr
  src/ameba/rule/base.cr
  src/ameba/rule/lint/empty_ensure.cr
  src/ameba/rule/lint/empty_loop.cr
  src/ameba/rule/lint/literal_assignments_in_expressions.cr
  src/ameba/rule/lint/literal_in_condition.cr
  src/ameba/rule/lint/literals_comparison.cr
  src/ameba/rule/lint/rand_zero.cr
  src/ameba/rule/lint/redundant_string_coercion.cr
  src/ameba/rule/lint/shadowed_exception.cr
  src/ameba/rule/lint/spec_focus.cr
  src/ameba/rule/lint/unused_argument.cr
  src/ameba/rule/performance/any_instead_of_empty.cr
  src/ameba/rule/performance/chained_call_with_no_bang.cr
  src/ameba/rule/performance/first_last_after_filter.cr
  src/ameba/rule/style/is_a_nil.cr
  src/ameba/rule/style/large_numbers.cr
  src/ameba/rule/style/method_names.cr
  src/ameba/rule/style/verbose_block.cr
  src/ameba/rule/style/while_true.cr
  src/ameba/runner.cr
  src/ameba/source/rewriter.cr
  src/ameba/source/rewriter/action.cr
  src/ameba/spec/expect_issue.cr
Labels: refactor

#319 Do not report anonymous block arguments in `Lint/UnusedArgument`
  spec/ameba/rule/lint/unused_argument_spec.cr
  src/ameba/ast/variabling/argument.cr
  src/ameba/rule/lint/unused_argument.cr
Labels: bug

#320 Add `Lint/UnusedBlockArgument` rule
  spec/ameba/rule/lint/unused_argument_spec.cr
  spec/ameba/rule/lint/unused_block_argument_spec.cr
  src/ameba/ast/scope.cr
  src/ameba/ast/visitors/scope_visitor.cr
  src/ameba/rule/lint/unused_argument.cr
  src/ameba/rule/lint/unused_block_argument.cr
  src/ameba/rule/style/type_names.cr
  src/ameba/rule/style/variable_names.cr
Labels: rule

#321 Add `Lint/MissingBlockArgument` rule
  spec/ameba/formatter/todo_formatter_spec.cr
  spec/ameba/rule/lint/missing_block_argument_spec.cr
  src/ameba/rule/lint/missing_block_argument.cr
  src/ameba/runner.cr
  src/ameba/source/rewriter/action.cr
Labels: rule

#326 Add `Lint/Formatting` rule
  spec/ameba/rule/lint/formatting_spec.cr
  spec/ameba/runner_spec.cr
  src/ameba/rule/lint/formatting.cr
Labels: rule

#328 Remove OpenSSL from Docker image
  Dockerfile
Labels: refactor

#324 Extend `Lint/UnusedArgument` and `Lint/UnusedBlockArgument` rules with corrections
  spec/ameba/rule/lint/unused_argument_spec.cr
  spec/ameba/rule/lint/unused_block_argument_spec.cr
  src/ameba/rule/lint/unused_argument.cr
  src/ameba/rule/lint/unused_block_argument.cr
Labels: refactor, rule

#325 Add autocorrect for `Style/UnlessElse`
  spec/ameba/rule/style/unless_else_spec.cr
  spec/ameba/source_spec.cr
  src/ameba/rule/style/unless_else.cr
  src/ameba/source.cr
  src/ameba/source/corrector.cr
Labels: refactor, rule

#337 Tweak reported rule locations
  spec/ameba/rule/lint/unused_block_argument_spec.cr
  src/ameba/rule/lint/unused_block_argument.cr
  src/ameba/rule/style/unless_else.cr
Labels: refactor, rule
