Repository crystal-ameba/ameba, pull requests merged in 2025-02, with the labels that each got.

#561 Refactor newly added rules' specs
  spec/ameba/rule/lint/require_parentheses_spec.cr
  spec/ameba/rule/lint/shadowed_argument_spec.cr
  spec/ameba/rule/lint/shadowing_outer_local_var_spec.cr
  spec/ameba/rule/lint/shared_var_in_fiber_spec.cr
  spec/ameba/rule/lint/trailing_rescue_exception_spec.cr
  spec/ameba/rule/lint/unused_argument_spec.cr
  spec/ameba/rule/lint/useless_assign_spec.cr
  spec/ameba/rule/style/redundant_self_spec.cr
  spec/ameba/rule/typing/macro_call_argument_type_restriction_spec.cr
  spec/ameba/rule/typing/method_parameter_type_restriction_spec.cr
  spec/ameba/rule/typing/method_return_type_restriction_spec.cr
  spec/ameba/rule/typing/proc_literal_return_type_restriction_spec.cr
  src/ameba/rule/lint/require_parentheses.cr
Labels: refactor

#554 Add `Style/HeredocIndent`
  spec/ameba/rule/documentation/documentation_spec.cr
  spec/ameba/rule/lint/empty_ensure_spec.cr
  spec/ameba/rule/lint/shadowed_exception_spec.cr
  spec/ameba/rule/style/heredoc_indent_spec.cr
  src/ameba/rule/style/heredoc_indent.cr
Labels: rule

#551 Mark object of `Cast` and `NilableCast` as used by the `AST::ImplicitReturnVisitor`
  spec/ameba/rule/lint/unused_literal_spec.cr
  src/ameba/ast/visitors/implicit_return_visitor.cr
Labels: bug

#562 Refactor recent `Lint/Unused*` specs
  spec/ameba/rule/lint/unused_comparison_spec.cr
  spec/ameba/rule/lint/unused_generic_or_union_spec.cr
  spec/ameba/rule/lint/unused_literal_spec.cr
Labels: refactor

#553 `AST::ImplicitReturnVisitor` macro expression and control support
  spec/ameba/rule/lint/unused_literal_spec.cr
  src/ameba/ast/visitors/implicit_return_visitor.cr
Labels: enhancement

#569 Tweak reported location of `Documentation/DocumentationAdmonition` issues
  spec/ameba/rule/documentation/documentation_admonition_spec.cr
  src/ameba/rule/documentation/documentation_admonition.cr
Labels: enhancement, rule

#567 Add `Lint/SpecEqWithBoolOrNilLiteral` rule
  spec/ameba/rule/lint/spec_eq_with_bool_or_nil_literal_spec.cr
  src/ameba/rule/lint/spec_eq_with_bool_or_nil_literal.cr
Labels: rule

#572 Tweak reported location of `Lint/BadDirective` issues
  spec/ameba/rule/lint/bad_directive_spec.cr
  src/ameba/rule/lint/bad_directive.cr
Labels: enhancement, rule

#571 Tweak reported location of `Lint/PercentArrays` issues
  spec/ameba/rule/lint/percent_arrays_spec.cr
  src/ameba/rule/lint/percent_arrays.cr
Labels: enhancement, rule

#568 Add `Lint/DuplicateWhenCondition` rule
  spec/ameba/rule/lint/duplicate_when_condition_spec.cr
  src/ameba/rule/lint/duplicate_when_condition.cr
Labels: rule

#575 Add support for `select` control expressions in `Lint/DuplicateWhenCondition` rule
  spec/ameba/rule/lint/duplicate_when_condition_spec.cr
  src/ameba/ast/visitors/node_visitor.cr
  src/ameba/rule/lint/duplicate_when_condition.cr
Labels: enhancement, rule

#576 Fix issue sorting
  src/ameba/runner.cr
Labels: bug

#574 Tweak reported location of `Lint/LiteralInCondition` issues
  spec/ameba/rule/lint/literal_in_condition_spec.cr
  src/ameba/rule/lint/literal_in_condition.cr
Labels: enhancement, rule

#577 Tweak `Lint/LiteralInCondition` rule
  spec/ameba/rule/lint/literal_in_condition_spec.cr
  src/ameba/rule/lint/literal_in_condition.cr
Labels: enhancement, rule

#556 Add `Lint/UnusedSelfAccess` and `Lint/UnusedPseudoMethodCall`
  spec/ameba/rule/lint/unused_pseudo_method_call_spec.cr
  spec/ameba/rule/lint/unused_self_access_spec.cr
  src/ameba/ast/visitors/implicit_return_visitor.cr
  src/ameba/rule/lint/unused_pseudo_method_call.cr
  src/ameba/rule/lint/unused_self_access.cr
Labels: rule

#579 Add `Lint/TopLevelOperatorDefinition`
  spec/ameba/rule/lint/top_level_operator_definition_spec.cr
  src/ameba/rule/lint/top_level_operator_definition.cr
Labels: rule

#584 The last line of initialize methods do not implicitly return
  spec/ameba/rule/lint/unused_literal_spec.cr
  src/ameba/ast/visitors/implicit_return_visitor.cr
Labels: bug, rule
