Repository crystal-ameba/ameba, pull requests merged in 2025-03, with the labels that each got.

#570 Add `Style/PercentLiteralDelimiters` rule
  spec/ameba/rule/style/percent_literal_delimiters_spec.cr
  spec/ameba/tokenizer_spec.cr
  src/ameba/config.cr
  src/ameba/rule/lint/require_parentheses.cr
  src/ameba/rule/style/percent_literal_delimiters.cr
Labels: rule

#586 Add `unless` to nodes counted by `AST::CountingVisitor`
  src/ameba/ast/visitors/counting_visitor.cr
  src/ameba/rule/metrics/cyclomatic_complexity.cr
  src/ameba/rule/style/is_a_filter.cr
  src/ameba/source/rewriter/action.cr
Labels: refactor, rule

#587 Do not report procs as top level operator definitions
  spec/ameba/rule/lint/top_level_operator_definition_spec.cr
  src/ameba/rule/lint/top_level_operator_definition.cr
Labels: false positive

#591 Add `Lint/SignalTrap` rule
  spec/ameba/rule/lint/signal_trap_spec.cr
  src/ameba/ast/util.cr
  src/ameba/rule/lint/signal_trap.cr
Labels: rule

#594 Support autocorrection in `Style/PercentLiteralDelimiters`
  spec/ameba/rule/style/percent_literal_delimiters_spec.cr
  src/ameba/rule/style/percent_literal_delimiters.cr
Labels: enhancement, rule

#595 Support autocorrection in `Style/MultilineCurlyBlock`
  spec/ameba/rule/style/multiline_curly_block_spec.cr
  src/ameba/rule/style/multiline_curly_block.cr
Labels: enhancement, rule

#596 Do not report magic constants in `Lint/LiteralInInterpolation`
  spec/ameba/rule/lint/literal_in_interpolation_spec.cr
  src/ameba/rule/lint/literal_in_interpolation.cr
Labels: false positive

#580 Add `Style/HeredocEscape`
  spec/ameba/ast/util_spec.cr
  spec/ameba/rule/style/heredoc_escape_spec.cr
  spec/ameba/rule/style/redundant_self_spec.cr
  src/ameba/rule/style/heredoc_escape.cr
Labels: rule

#601 Add `Lint/ElseNil` rule
  spec/ameba/rule/lint/else_nil_spec.cr
  src/ameba/rule/lint/else_nil.cr
Labels: rule
